<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-4.3.1-dist/js/bootstrap.min.js">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="./adminAll.html">Plus d'options</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</head>

<body>
	

	<h1 class="text-center">piManager</h1>

	<h5 class='pl-5 mt-5'>Nombre de Rasberry Pi connectée(s) : 
		<span id="nb_rbpi">0</span>
	</h5>
		<!-- Generate list of raspberry pi with navigation menu -->
		<ul class="list-group list-group-flush pl-5">
			<% for(var i = 0 ; i < 255 ; i++) { %>
				<li class="list-group-item pl-5" style="display: none;" id="liste_num_<%=i%>">
					<span style="display: none;" id="adresse_ip_<%=i%>">192.168.255.<%=i%></span>
					<span style="display: none; color:red" id="asterisk_hdmi_<%=i%>">*</span>
					<select id="mode<%=i%>" size="1" name="<%= i %>" onChange="mode.call(this, event)" pos="<%=i%>">
						<option value="0" selected>Choose a mode</option>
						<option value="1">Chromium-Browser</option>
						<option value="2">Vidéos</option>
						<option value="3">Identification</option>
						<option value="4">Kiosk à images</option>
						<option value="5">Eteindre</option>
						<option value="6">Redémmarer</option>
						<option value="7">Nouvel emplacement</option>
						<option value="8">Gestion du projecteur</option>
					</select>

					<select id="Chromium_arg1_<%=i%>" size="1" name="<%= i %>" onclick="chromium.call(this, event)"
						pos="<%=i%>" style="display: none;">
						<option value="0" selected>choose an option</option>
						<option value="1">Pimp My Wall</option>
						<option value="2">Address custom</option>
					</select>

					<select id="video_arg1_<%=i%>" size="1" name="<%= i %>" onclick="videos.call(this, event)" pos="<%=i%>"
						style="display: none;">
						<option value="0" selected>choose an option</option>
						<option value="1">vidéos sur carte SD</option>
						<option value="2">Réception flux UDP</option>
						<option value="3">Réception d'un flux RTSP</option>
					</select>

					<select id="projector_arg1_<%=i%>" size="1" name="<%= i %>" onclick="projector.call(this, event)"
						pos="<%=i%>" style="display: none;">
						<option value="0" selected>choose an option</option>
						<option value="1">Allumer</option>
						<option value="2">Eteindre</option>
						<option value="3">Couper le son</option>
						<option value="4">Allumer le son</option>
						<option value="5">Bloquer l'image</option>
						<option value="6">Débloquer l'image</option>
					</select>

					<input type="text" id="text_<%=i%>" name="name" pos="<%=i%>" style="display: none;"/>

					<button type="button" id="button_<%=i%>" pos="<%=i%>" style="display: none;"
						onClick="clic.call(this, event)" name="192.168.255.<%=i%>" class="btn btn-primary btn-sm">Valider</button>
					<br />
					<span id="location_<%=i%>" style="display: none;">Emplacement : </span><span id="current_mode_<%=i%>" style="display: none;">Mode : </span>
				</li>
			<% } %>
		</ul>
		<span class="pl-5" style="color:red">*</span> <span>Le câble HDMI n'est pas branché, veuillez le brancher et redémarrer la Raspberry pi</span>

</body>
</html>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!-- Script to connect on the nodejs socket.io -->
<script>
	var socket = io.connect(window.location.href);
	socket.on('connect', function (data) {
		socket.emit('join', 'Hello World from client');
	});
</script>

<!-- Script to update the web browser interface when a piInformation messeage is receive -->
<script>
	socket.on('piInformation', function (listIndexRaspberry, raspberryHDMI, raspberryMode, raspberryLocation) {
		var index;
		var liste;
		var asterisk_hdmi;
		var adresse_ip;
		var location;
		var current_mode;

		document.getElementById('nb_rbpi').innerHTML = listIndexRaspberry.length;

		for (var j = 0; j < listIndexRaspberry.length; j++) {
			index = listIndexRaspberry[j];

			liste = document.getElementById('liste_num_' + index);
			asterisk_hdmi = document.getElementById('asterisk_hdmi_' + index);
			adresse_ip = document.getElementById('adresse_ip_' + index);
			location = document.getElementById('location_' + index);
			current_mode = document.getElementById('current_mode_' + index);
			
			liste.style.display = "list-item";
			adresse_ip.style.display = "inline";
			location.style.display = "inline";
			location.textContent = 'Emplacement : ' + raspberryLocation[index];
			current_mode.style.display = "inline";
			current_mode.textContent = ', Mode : ' + raspberryMode[index];
			if (raspberryHDMI[index] == 0) {
				asterisk_hdmi.style.display = "inline";
			}
			else{
				asterisk_hdmi.style.display = "none";
			}
		}
	});
</script>

<!-- Script to remove a raspberry pi of the web browser interface when a piDisconnectInformation messeage is receive -->
<script>
	socket.on('piDisconnectInformation', function (index) {
		console.log('piDisconnectInformation Receive !!');
		var liste = document.getElementById('liste_num_' + index);
		var asterisk_hdmi = document.getElementById('asterisk_hdmi_' + index);
		var adresse_ip = document.getElementById('adresse_ip_' + index);
		var chromium = document.getElementById('Chromium_arg1_' + index);
		var video = document.getElementById('video_arg1_' + index);
		var text = document.getElementById('text_' + index);
		var button = document.getElementById('button_' + index);
		var projector = document.getElementById('projector_arg1_' + index);
		var location = document.getElementById('location_' + index);
		var current_mode = document.getElementById('current_mode_' + index);

		button.style.display = "none";
		text.style.display = "none";
		video.style.display = "none";
		chromium.style.display = "none";
		projector.style.display = "none";
		liste.style.display = "none";
		adresse_ip.style.display = "none";
		asterisk_hdmi.style.display = "none";
		location.style.display = "none";
		current_mode = "none";
	});
</script>

<!-- Script to manage the web browser interraction -->
<script>
	function mode(event) {
		var sel = this.options[this.selectedIndex].value;
		var pos = this.attributes["pos"].value;
		var chromium = document.getElementById('Chromium_arg1_' + pos);
		var video = document.getElementById('video_arg1_' + pos);
		var text = document.getElementById('text_' + pos);
		var button = document.getElementById('button_' + pos);
		var projector = document.getElementById('projector_arg1_' + pos);

		button.style.display = "none";
		text.style.display = "none";
		video.style.display = "none";
		chromium.style.display = "none";
		projector.style.display = "none";

		if (sel == 0) {
			// None used
		}

		//Selection Chromium-Browser
		if (sel == 1) {
			chromium.style.display = "inline";
			button.style.display = "inline";
		}

		//Selection Vidéos
		if (sel == 2) {
			video.style.display = "inline";
			button.style.display = "inline";
		}

		//Selection Identification
		if (sel == 3) {
			text.style.display = "inline";
			text.value="";
			button.style.display = "inline";
			text.placeholder = "numéro entre 0 et 999";
		}

		//Selection image kiosk
		if (sel == 4) {
			text.style.display = "inline";
			text.value = "";
			text.placeholder = "delai entre chaque images [s]";
			button.style.display = "inline";
		}

		//Selection Shutdown
		if (sel == 5) {
			button.style.display = "inline";
		}

		//Selection Reboot
		if (sel == 6) {
			button.style.display = "inline";
		}

		//Selection Emplacement
		if (sel == 7) {
			text.style.display = "inline";
			text.value = "";
			text.placeholder = "emplacement";
			button.style.display = "inline";
		}

		//Selection Projector
		if (sel == 8) {
			projector.style.display = "inline";
			button.style.display = "inline";
		}

	}

	//Event on the drop-down list of the mode chromium-browser
	function chromium(event) {
		var sel = this.options[this.selectedIndex].value;
		var pos = this.attributes["pos"].value;
		var text = document.getElementById('text_' + pos);
		var button = document.getElementById('button_' + pos);

		if (sel == 1) {
			text.style.display = "none";
			button.style.display = "inline";
		}
		if (sel == 2) {
			text.style.display = "inline";
			button.style.display = "inline";
			text.value = ""
			text.placeholder = "url";
		}
	}

	//Event on the drop-down list of the mode Vidéo
	function videos(event) {
		var sel = this.options[this.selectedIndex].value;
		var pos = this.attributes["pos"].value;
		var text = document.getElementById('text_' + pos);
		var button = document.getElementById('button_' + pos);

		if (sel == 1) {
			text.style.display = "none";
			button.style.display = "inline";
		}
		if (sel == 2) {
			text.style.display = "inline";
			text.placeholder = "Port de récéption";
			text.value = "";
			button.style.display = "inline";
		}
		if (sel == 3) {
			text.style.display = "inline";
			text.placeholder = "192.168.255.20:8554/stream";
			text.value = "";
			button.style.display = "inline";
		}
	}

	//Event on the drop-down list of the mode projector
	function projector(event) {
		var sel = this.options[this.selectedIndex].value;
		var pos = this.attributes["pos"].value;
		var button = document.getElementById('button_' + pos);


		button.style.display = "inline";

	}

	//Event on the button "valide"
	function clic(event) {
		var pos = this.attributes["pos"].value;
		var text = document.getElementById('text_' + pos).value;
		var mode = document.getElementById('mode' + pos).value;
		var ip = this.attributes["name"].value;
		var req = new XMLHttpRequest();

		//Chromium Browser mode
		if (mode == 1) {
			if (document.getElementById('Chromium_arg1_' + pos).value == 1) {
				req.open("POST", window.location.href + 'mode/' + mode + '/' + ip, true);
				req.send(null);
			}
			if (document.getElementById('Chromium_arg1_' + pos).value == 2) {
				req.open("POST", window.location.href + 'mode/' + mode + '/' + ip + '?url=' + text, true);
				req.send(null);
			}
		}

		//Vidéos mode
		if (mode == 2) {
			if (document.getElementById('video_arg1_' + pos).value == 1) {
				req.open("POST", window.location.href + 'mode/' + mode + '/' + ip, true);
				req.send(null);
			}
			if (document.getElementById('video_arg1_' + pos).value == 2) {
				req.open("POST", window.location.href + 'mode/' + mode + '/' + ip + '?port=' + text, true);
				req.send(null);
			}
			if (document.getElementById('video_arg1_' + pos).value == 3) {
				req.open("POST", window.location.href + 'mode/' + mode + '/' + ip + '?source=' + text, true);
				req.send(null);
			}
		}

		//Identification mode
		if (mode == 3) {
			req.open("POST", window.location.href + 'mode/' + mode + '/' + ip + '?id=' + text, true);
			req.send(null);
		}

		//Images kiosk mode
		if (mode == 4) {
			req.open("POST", window.location.href + 'mode/' + mode + '/' + ip + '?delay=' + text, true);
			req.send(null);
		}

		//Shutdown mode
		if (mode == 5) {
			req.open("DELETE", window.location.href + 'shutdown/' + ip, true);
			req.send(null);
		}

		//Reboot mode
		if (mode == 6) {
			req.open("POST", window.location.href + 'reboot/' + ip, true);
			req.send(null);
		}

		//Set a new Emplacement
		if (mode == 7) {
			req.open("POST", window.location.href + 'setLocation/' + ip + '?location=' + text, true);
			req.send(null);
		}

		//Projector mode
		if (mode == 8) {
			if (document.getElementById('projector_arg1_' + pos).value == 1) {
				req.open("POST", window.location.href + 'projector/poweron/' + ip, true);
				req.send(null);
			}
			if (document.getElementById('projector_arg1_' + pos).value == 2) {
				req.open("POST", window.location.href + 'projector/poweroff/' + ip, true);
				req.send(null);
			}
			if (document.getElementById('projector_arg1_' + pos).value == 3) {
				req.open("POST", window.location.href + 'projector/muteon/' + ip, true);
				req.send(null);
			}
			if (document.getElementById('projector_arg1_' + pos).value == 4) {
				req.open("POST", window.location.href + 'projector/muteoff/' + ip, true);
				req.send(null);
			}
			if (document.getElementById('projector_arg1_' + pos).value == 5) {
				req.open("POST", window.location.href + 'projector/freezeon/' + ip, true);
				req.send(null);
			}
			if (document.getElementById('projector_arg1_' + pos).value == 6) {
				req.open("POST", window.location.href + 'projector/freezeoff/' + ip, true);
				req.send(null);
			}
		}
	}

//https://developer.mozilla.org/fr/docs/Web/API/XMLHttpRequest
</script>